.wrapper {
    display: grid;
    grid-template-columns: 8% 92%;
    margin-bottom: 30px;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.avatar {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.rate {
    display: flex;
}

.rateNumber {
    margin-bottom: 5px;   
}

.rateDown {
    width: 15px;
    height: 15px;
    background-image: url(../../images/minus.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    border: 0;
    margin-right: 3px;
}

.rateUp {
    width: 15px;
    height: 15px;
    background-image: url(../../images/plus.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    border: 0;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    opacity: .6;    
}

.name {
    margin: 0;    
}

.date {
    margin: 0;
}

.text {
    margin: 0;
    overflow-wrap: break-word;
    width: 100%;
}

.textOpen {
    cursor: pointer;
    opacity: .6;   
}
